<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Snicker-搜索结果</title>
    <link href="../static/images/me1.jpg" th:href="@{/images/me.jpg}" rel="icon" type="image/x-ico">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
    <link rel="stylesheet" href="../static/css/me.css" th:href="@{/css/me.css}">
    <link rel=stylesheet href=https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.13.0/css/all.min.css>
    <link rel="stylesheet" href="../static/css/dropdown.css" th:href="@{/css/dropdown.css}">
</head>
<body>

<!--导航-->
<nav class="gird-header">
    <div class="ui container">
        <div class="ui inverted secondary stackable menu">
            <h2 class="ui olive header item" style="font-family: STSong">Snicker</h2>
            <!--<div class="right m-item item m-mobile-hide">-->
            <a href="#" th:href="@{/}" class="active m-item item"><i class="home icon"></i>首页</a>
            <a href="#" th:href="@{/types/-1}" class="m-item item"><i class="clone outline icon"></i>分类</a>
            <a href="#" th:href="@{/archives}" class="m-item item"><i class="clock icon"></i>时间轴</a>
            <div class="dropdown m-mobile-hide">
                <a href="javascript:void(0);" class="menu-item menu-more dropbtn" title="一些有意思的东东~">
                    <i class="fas fa-fw fa-fan fa-spin"></i>
                    趣味
                </a>
                <div class="menu-more-content dropdown-content">
                    <a href="https://win11.blueedge.me/" title="Windows 11 in React 💻🌈⚡" target="_blank"
                       rel="noopener">
                        💻 Windows 11 🌈
                    </a>
                    <a th:href="@{/funny/high/}" title="前方高能♂ 小心外放！" target="_blank" rel="noopener">
                        <i class="fas fa-fw fa-dizzy"></i>
                        燥起来！
                    </a>
                    <a th:href="@{/funny/music}" title="初音未来音乐游戏" target="_blank" rel="noopener">
                        <i class="fas fa-fw fa-music"></i>
                        音乐屋 </a>
                    <a th:href="@{/funny/catch-the-cat}" title="逮住那只猫!" target="_blank" rel="noopener">
                        <i class="fas fa-fw fa-cat"></i>
                        抓住猫咪
                    </a>
                </div>

            </div>
            <a href="#" th:href="@{/message}" class="m-item item"><i class="book icon"></i>留言板</a>
            <a href="#" th:href="@{/friends}" class="m-item item"><i class="pencil alternate icon"></i>友人帐</a>
            <a href="#" th:href="@{/picture}" class="m-item item"><i class="image icon"></i>照片墙</a>
            <a href="#" th:href="@{/about}" class="m-item item"><i class="info icon"></i>关于我</a>
            <!--</div>-->
            <div class="right m-item item m-mobile-hide">
                <form name="search" action="#" method="post" target="_blank">
                    <div class="ui icon transparent input m-margin-tb-tiny" style="color: aqua">
                        <input style="color: white" type="text" name="query" placeholder="Search....">
                        <i onclick="document.forms['search'].submit()" class="search link icon"></i>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <a href="#" class="ui menu toggle black icon button m-right-top m-mobile-show">
        <i class="sidebar icon"></i>
    </a>
</nav>


<!--顶部图片-->
<div class="m-bg-type_outer" style="width: 100%;height: 40%">
    <img src="../static/images/typebg.jpg" th:src="@{/images/typebg.jpg}" alt="" class="ui m-bg image"
         style="width: 100%;height: 100%">
    <div class="m-bg-class_cover">
        <div class="ui container" style="position: relative ;bottom: -540px;">
            <div class="m-font-size-title m-right-bottom" align="center" style="font-family:'STXingkai'">搜索结果</div>
            <div class="m-font-size-text-init-title m-margin-top" align="center">人生，就是一个不断寻找的过程</div>
        </div>
    </div>
</div>

<!--中间内容-->
<div class="m-margin-">
    <div class="ui container">
        <!--header-->
        <div class="ui top attached segment">
            <div class="ui middle aligned two column grid">
                <div class="column">
                    <h3 class="ui teal header">搜索结果</h3>
                </div>
                <div class="right aligned column">
                    共 <h2 class="ui orange header m-inline-block m-text-thin" th:text="${#arrays.length(blogs)}">
                    14 </h2> 个
                </div>
            </div>
        </div>

        <div class="ui top attached segment">
            <div class="ui padded vertical segment m-padded-tb-large" th:each="blog : ${pageInfo.list}">
                <div class="ui middle aligned mobile reversed stackable grid">
                    <div class="eleven wide column">
                        <h3 class="ui header">
                            <a href="#" th:href="@{/blog/{id}(id=${blog.id})}" target="_blank"
                               class="m-black m-title-font" th:text="${blog.title}">
                                大圣，此去欲何?
                            </a>
                        </h3>
                        <p class="m-text m-margin-top-max" th:text="|${blog.description}......|">
                            戴上金箍，没法爱你；放下金箍，没法保护你。我知道上天不会给我第二次机会，曾经我们说好的永远，原来也仅仅只有，十二画，而已。“大圣，此去欲何?”“踏南天，碎凌霄。”“若一去不回……”“便一去不回”
                            其实很多时候，我们都是有机会的，最后真正放弃的，是我们自己。......</p>
                        <div class="ui grid m-margin-top-max">
                            <div class="eleven wide column">
                                <div class="ui mini horizontal link list">
                                    <div class="item">
                                        <img src="../static/images/me1.jpg" th:src="@{${blog.avatar}}" alt=""
                                             class="ui avatar image">
                                        <div class="content"><a href="#" th:href="@{/about}" target="_blank"
                                                                class="header" th:text="${blog.nickname}">oneStar</a>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <i class="calendar icon"></i><span
                                            th:text="${#dates.format(blog.updateTime,'yyyy-MM-dd')}">2020-01-01</span>
                                    </div>
                                    <div class="item">
                                        <i class="eye icon"></i> <span th:text="${blog.views}">2222</span>
                                    </div>
                                    <div class="item">
                                        <i class="comment outline icon"></i> <span
                                            th:text="${blog.commentCount}">2222</span>
                                    </div>
                                </div>
                            </div>
                            <div class="right aligned five wide column">
                                <a href="#" target="_blank" class="ui teal basic label m-padded-tiny m-text-thin"
                                   th:text="${blog.typeName}">好文</a>
                            </div>
                        </div>
                    </div>

                    <!--博文首图-->
                    <div class="five wide column">
                        <a href="#" th:href="@{/blog/{id}(id=${blog.id})}" target="_blank">
                            <img src="../static/images/backimg1.jpg" th:src="@{${blog.firstPicture}}" alt=""
                                 class="ui rounded image">
                        </a>
                    </div>

                </div>
            </div>
        </div>

        <!--分页-->
        <div class="ui bottom attached segment m-opacity stackable grid">
            <div class="three wide column" align="center">
                <a class="item" th:href="@{/types(pageNum=${pageInfo.hasPreviousPage}?${pageInfo.prePage}:1)}"
                   th:unless="${pageInfo.isFirstPage}">上一页</a>
            </div>

            <div class="ten wide column" align="center">
                <p><span th:text="${pageInfo.pageNum}"></span> / <span th:text="${pageInfo.pages}"></span></p>
            </div>

            <div class="three wide column" align="center">
                <a class="item"
                   th:href="@{/types(pageNum=${pageInfo.hasNextPage}?${pageInfo.nextPage}:${pageInfo.pages})}"
                   th:unless="${pageInfo.isLastPage}">下一页</a>
            </div>
        </div>

    </div>
</div>

<br>
<br>
<!--底部栏-->
<footer class="ui inverted vertical segment m-padded-tb-massive m-opacity">
    <!--容器-->
    <div class="ui center aligned container">
        <div class="ui inverted divided stackable grid">
            <div class="five wide column">
                <div style="font-size: large;font-weight: bold"
                     class="ui inverted m-text-thin m-text-spaced m-margin-top-max">联系我
                </div>
                <div class="ui inverted link list">
                    <div href="#" class="m-text-thin">Email：1224228911@qq.com</div>
                    <div href="#" class="m-text-thin">QQ：1224228911</div>
                    <div href="#" class="m-text-thin">微信：chz200109</div>
                </div>
            </div>

            <div class="six wide column">
                <div class="ui inverted link list">
                    <div class="item">
                        <!--微信二维码-->
                        <div style="font-size: large;font-weight: bold" class="ui inverted m-text-thin m-text-spaced ">
                            阁主微信
                        </div>
                        <img src="../static/images/wechat.jpg" th:src="@{/images/wechat.jpg}"
                             class="ui m-margin-top rounded image" alt="" style="width: 110px">
                    </div>
                </div>
            </div>

            <!--博客运行时间统计-->
            <div class="five wide column">
                <div style="font-size: large;font-weight: bold"
                     class="ui inverted  m-text-thin m-text-spaced m-margin-top">阁内信息
                </div>
                <!--<p id="htmer_time" class="item m-text-thin"></p>-->
                <div id="blog-message">
                    <div class="ui inverted link list" style="align-content: center;margin-top: 10px"
                         th:fragment="blogMessage">
                        <div class="center m-text-thin">
                            文章总数： <h2 class="ui orange header m-inline-block m-margin-top-null"
                                      style="font-size:medium;" th:text="${blogTotal}"> 14 </h2> 篇
                        </div>
                        <div class="center m-text-thin">
                            访问总数： <h2 class="ui orange header m-inline-block m-margin-top-null"
                                      style="font-size:medium;" th:text="${blogViewTotal}"> 14 </h2> 次
                        </div>
                        <div class="center m-text-thin">
                            评论总数： <h2 class="ui orange header m-inline-block m-margin-top-null"
                                      style="font-size:medium;" th:text="${blogCommentTotal}"> 14 </h2> 条
                        </div>
                        <div class="center m-text-thin">
                            留言总数： <h2 class="ui orange header m-inline-block m-margin-top-null"
                                      style="font-size:medium;" th:text="${blogMessageTotal}"> 14 </h2> 条
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ui inverted section divider"></div>
        <div style="color: #F08047;margin-top: -18px" class="ui inverted m-text-thin m-text-spaced">建阁：<span
                id="htmer_time" class="item m-text-thin"></span> (*๓´╰╯`๓)
        </div>
        <a rel="nofollow" href="http://www.beian.miit.gov.cn" target="_blank">冀ICP备2022001330号</a>
    </div>
    </div>

</footer>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>

<script>

    // $('#newblog-container').load(/*[[@{/footer/newblog}]]*/"/footer/newblog");

    $('#blog-message').load(/*[[@{/footer/blogmessage}]]*/"/footer/blogmessage");

    // 运行时间统计
    function secondToDate(second) {
        if (!second) {
            return 0;
        }
        var time = new Array(0, 0, 0, 0, 0);
        if (second >= 365 * 24 * 3600) {
            time[0] = parseInt(second / (365 * 24 * 3600));
            second %= 365 * 24 * 3600;
        }
        if (second >= 24 * 3600) {
            time[1] = parseInt(second / (24 * 3600));
            second %= 24 * 3600;
        }
        if (second >= 3600) {
            time[2] = parseInt(second / 3600);
            second %= 3600;
        }
        if (second >= 60) {
            time[3] = parseInt(second / 60);
            second %= 60;
        }
        if (second > 0) {
            time[4] = second;
        }
        return time;
    }

    function setTime() {
        /*此处为网站的创建时间*/
        var create_time = Math.round(new Date("2022/01/18 00:00:00").getTime() / 1000);
        var timestamp = Math.round((new Date().getTime()) / 1000);
        currentTime = secondToDate((timestamp - create_time));
        currentTimeHtml = currentTime[0] + '年' + currentTime[1] + '天'
            + currentTime[2] + '时' + currentTime[3] + '分' + currentTime[4]
            + '秒';
        document.getElementById("htmer_time").innerHTML = currentTimeHtml;
    }

    setInterval(setTime, 1000);


    $('.menu.toggle').click(function () {
        $('.m-item').toggleClass('m-mobile-hide');
    });

</script>
</body>
</html>